main {
    min-height: 80vh;
    margin-top: 5.5rem;
    background-color: rgb(7, 0, 0);
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;  
}

.bg {
    background-color: rgb(17, 17, 17);
}

.footer {
    min-height: 20rem;
}

.orange-buttons {
    background-color: #FF4500;
}