main {
    min-height: 80vh;
    margin-top: 5.5rem;
    background-color: rgb(7, 0, 0);
}

.search-form {
    background-color: rgb(7, 0, 0)red;
    padding: .1rem;
    border: .1rem solid #FF4500;
    border-radius: 2rem;
    margin: 1rem 0;
}

.search-form input {
    background-color: rgb(7, 0, 0);
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    color: darkgray;
}

.search-form input:focus {
    outline: none;
    color: darkgray;
}

.search-form button {
    background-color: rgb(7, 0, 0);
    padding: 1rem;
    border: none;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;  
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-color: rgb(17, 17, 17);
}

.footer {
    min-height: 20rem;
}

.white-txt {
    color: white;
}

.orange-txt {
    color: #FF4500;
}

.orange-buttons {
    background-color: #FF4500;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-letters {
    text-transform: lowercase;
}